@import "tailwindcss";

@layer utilities {
  .font-display {
    font-family: 'Syne', sans-serif;
  }
}

body {
  font-family: 'DM Sans', sans-serif;
  background: #09090b;
  color: #f0ece6;
  font-feature-settings: "rlig" 1, "calt" 1;
  -webkit-font-smoothing: antialiased;
}
